<% include partials/header %>
<main class="container">
    <div class="row">
        <div><p> </p></div>
    </div>
    <div class="row">
        <div class="col-md-9">

            <h1>Tarefa Deletada</h1>
            <p><a href="/home">Go back to home</a></p>
        </div>

    </div>

</main>


</body>
</html>