<% include partials/header %>
<% include partials/nav %>
<main class="container">
    <div class="row">
        <div><p> </p></div>
    </div>
    <div class="row">
        <% include partials/menu %>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Tarefas</div>
                <div class="panel-body">
                    <p>Lista de Tarefas</p>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>