body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  background-color: #c9302c;
}

.box{
    background-color: gray;
}

.nav-pills li a{
    color: #000;
}

.navbar img {
    position: absolute;
    top: 5px;
    width: 40px;
    display: block;
}